.container {
    position: relative;
    overflow-y: scroll;
  }
  
  .triangle1 {
    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 100px solid #ff7e00;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    filter: blur(2px);
  }
  
  .triangle2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid #ff7e00;
    position: absolute;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%);
    z-index: 0;
    color: #ab0c00;
  }
  
  .triangle3 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 500px solid #ab0c00;
    position: absolute;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%);
    z-index: 0;
    color: #d19b97;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 20px #ff8c00;
    }
    50% {
      text-shadow: 0 0 30px #ff8c00, 0 0 10px #ff8c00;
    }
    100% {
      text-shadow: 0 0 20px #ff8c00;
    }
  }
  
  @font-face {
    font-family: "H1";
    src: local("Heavitas"), url("Heavitas.ttf") format("opentype"), url("Heavitas.ttf") format("woff");
  }
  
  h1 {
    font-family: "H1", sans-serif;
    font-size: 120px;
    text-align: center;
    color: #8b4513;
    animation: glow 0.5s infinite alternate;
    position: relative;
    z-index: 1;
  }
  
  @font-face {
    font-family: "H2";
    src: url("https://cdn.glitch.global/2f995378-463c-4d2f-97cc-e4cf60f0ff4d/Birds%20of%20Paradise%20%E2%88%8F%20PERSONAL%20USE%20ONLY.ttf?v=1708009648791") format("opentype");
  }
  
  h2 {
    font-family: "H2", cursive;
    font-size: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  body {
    overflow-y: scroll; 
  }
  