body {
    background-color: rgb(10, 123, 2);
    color: white;
    margin: 0;
}
h1 {
    font-family: "H1", cursive;
    font-size: 135px;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(10, 123, 2);
    -webkit-text-fill-color: rgb(10, 123, 2);
    margin-top: 50px;
    margin-bottom: 60px;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: moveH1 6000ms linear infinite;
}
@keyframes moveH1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@font-face {
    font-family: "H1";
    src: local("Birds of Paradise ∏ PERSONAL USE ONLY.ttf"), url("Birds of Paradise ∏ PERSONAL USE ONLY.ttf") format("opentype") tech(color-COLRv1);
}
@font-face {
    font-family: "different-type";
    src: local("Heavitas.ttf"), url("Heavitas.ttf") format("opentype") tech(color-COLRv1);
}
.font {
    font-family: "different-type", sans-serif;
}
.one-font {
    font-family: "H1", cursive;
    transition: all 0.3s ease-in-out; /* Added smooth transition */
}
.intro-title-phase-1 {
    display: flex;
    justify-content: flex-start;
    background: rgb(128, 177, 22);
    overflow: hidden;
}
h2 {
    font-family: "different-type", sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(128, 177, 22);
    -webkit-text-fill-color: rgb(128, 177, 22);
    text-align: center;
    font-size: 38px;
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: moveH2 6s ease-in-out infinite alternate;
}


@keyframes moveH2 {
    0% {
        transform: translateX(-100%) skewX(-10deg);
    }
    100% {
        transform: translateX(0) skewX(0deg);
    }
}
h3 {
    font-family: "different-type", sans-serif;
    text-align: center;
    width: 900px;
    margin-left: 282px;
    font-size: 30px;
    margin-top: 60px;
}
.phase-2 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background: rgb(10, 123, 2);
}
.pink-arrow-button {
    position: fixed;
    bottom: 30px;
    left: 30px; /* Adjusted left position to match the desired location */
    width: 70px;
    height: 70px;
    border: 7px solid pink;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    z-index: 2;
    transition: bottom 1s ease-in-out; /* Added transition for button movement */
}

.pink-arrow-button .arrow-container {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid pink;
}