body {
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 0;
}

.content {
    text-align: center;
    padding: 20px;
}

.rotating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 300px;
    width: 300px;
    margin: auto; /* Center the container */
}

.circle-text {
    margin: 0; 
    font-family: "Heavitas.ttf", sans-serif;
    color: rgb(128, 177, 22);
    text-align: center;
    z-index: 1; 
    margin-top: 250px;
    font-size: 12px;
}

.rotating-circle.circle1 {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    border: 3px dashed rgb(10, 123, 2);
    margin-top: 400px; /* Adjusted margin-top */
    animation: rotate1 3s linear infinite;
}

.rotating-circle.circle2 {
    width: 400px; /* Adjust the size as needed */
    height: 500px; /* Adjust the size as needed */
    border-radius: 50%;
    position: absolute;
    border: 3px dashed rgb(10, 123, 2);
    margin-top: 400px; /* Adjusted margin-top */
    animation: rotate2 5s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@font-face {
    font-family: "pre";
    src: local("Heavitas.ttf"), url("Heavitas.ttf") format("opentype") tech(color-COLRv1);
}

pre {
    font-family: "pre", sans-serif;
}

em {
    font-family: "H1", cursive;
}
