body {
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 0;
}
.body-slide-out {
    animation: slideOut 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-play-state: running;
  }
  
  /* Apply only the transition property in the green-background class */
  body.green-background {
    background-color: rgb(128, 177, 22) !important;
    transition: background-color 0.8s ease-out !important;
  }
  
  /* Add a rule to pause the animation when the no-animation class is present */
  body.no-animation.body-slide-out {
    animation-play-state: paused;
  }
  @keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@font-face {
    font-family: "H2";
    src: local("Heavitas.ttf"), url("Heavitas.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "H1";
    src: local("Birds of Paradise ∏ PERSONAL USE ONLY.ttf"), url("Birds of Paradise ∏ PERSONAL USE ONLY.ttf") format("opentype") tech(color-COLRv1);
}

h1 {
    text-align: center;
    font-family: "H1", cursive;
    font-size: 120px;
    color: green;
    margin-top: 10px; /* Adjust the margin-top value */
    margin-right: 400px; /* Adjust the margin-right value */
}

.ongoing {
    margin-right: 150px; /* Adjust the margin-right value */
    margin-top: 30px; /* Adjust the margin-top value */
}

.life {
    font-family: "H2", sans-serif;
    font-size: 190px;
    margin-left: 900px; /* Adjust as needed */
    top: 70%;
}

h2 {
    font-family: "H2", sans-serif;
    color: rgb(128, 177, 22);
    font-size: 56px;
}
h3 {
    font-family: "H1", cursive;
    color: rgb(128, 177, 22);
    font-size: 700px;
    text-align: center;
    margin-top: 10px;
}

.intro {
    font-size: 110px;
    white-space: nowrap;
    margin-right: 750px;
    margin-top: 40px;
}

.top-title {
    text-align: left;
    display: nowrap;
}




.title {
    font-size: 30px;
    color: pink;
    text-align: center;
    position: absolute;
    font-family: "Heavitas", sans-serif;
    width: 1000px;
    margin-top: 120px;
  }
  .yes {
    font-family: "H1", cursive;
    color: green;
    font-size: 50px;
  }
  .second {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
  .third {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
  .fourth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
 
  
  .white-page {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding as needed */
  }

.next-section-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 7px solid pink;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
  }
  .next-section-button:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid pink;
    margin-left: 47px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .rotating-container {
    position: absolute;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dynamic-ellipse {
    position: relative;
    border-radius: 50%;
    border-width: 3px;
    transform: scale(1);
    animation: rotateScaleFade 10s infinite; /* Adjust the duration and timing function as needed */
}

.ellipse1,
.ellipse3,
.ellipse5 {
    border: 3px dashed green;
}

.ellipse2,
.ellipse4 {
    border: 3px dotted pink;
}

.ellipse1 {
    width: 50px;
    height: 75px;
    border: 3px dashed green;
}

.ellipse2 {
    width: 80px;
    height: 120px;
    border: 3px dotted pink;
}

.ellipse3 {
    width: 120px;
    height: 180px;
    border: 3px dashed green;
}

.ellipse4 {
    width: 160px;
    height: 240px;
    border: 3px dotted pink;
}

.ellipse5 {
    width: 200px;
    height: 300px;
    border: 3px dashed green;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px 20px; /* Adjusted margin */
    color:rgb(128, 177, 22);
    font-family: "H2", sans-serif;
}


.left-paragraph {
    text-align: left;
    margin-top: -220px;
    width: 45%;
 margin-left: 20px;
}

.right-paragraph {
    text-align: right;
    width: 45%;
    margin-top: 300px;
}
@keyframes rotateScaleFade {
    0%, 100% {
        transform: rotate(0deg) scale(1);
    }
    20% {
        transform: rotate(72deg) scale(1.2);
    }
    40% {
        transform: rotate(144deg) scale(1);
    }
    60% {
        transform: rotate(216deg) scale(1.2);
    }
    80% {
        transform: rotate(288deg) scale(1);
    }
}
#next-section4 {
    position: relative;
  }
  
  #next-section4 .fourth {
    position: relative;
  }
  
  #next-section4 .enter-container {
    position: absolute;
    bottom: 10%;
    right: 5%; /* Adjust this value to move the button to the right */
    background-color: white;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 10px solid rgb(10, 123, 2);
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  #next-section4:hover .enter-container {
    border-color: #ffc0cb; /* Pink border color on hover */
  }
  
  #next-section4 .enter-container .arrow-container {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid rgb(10, 123, 2);
    transform: rotate(-90deg); /* Rotate the arrow to point right */
  }
  
  #next-section4:hover .enter-container .arrow-container {
    border-top-color: pink; /* Change arrow color on hover */
  }
  @media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
        margin-top: 10px;
    width: 80%;
    }

    .ongoing {
        margin-right: 75px;
        margin-top: 15px;
    }

    .life {
        font-size: 90px;
        margin-left: 310px;
        font-size: 70px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 300px;
        margin-top: 5px;
        font-size: 200px;
    }

    .intro {
        font-size: 55px;
        margin-right: 150px;
        margin-top: 20px;
    }

    .title {
        font-size: 20px;
        width: 500px;
        margin-top: 60px;
    }

    .yes {
        font-size: 30px;
    }

    .second {
        font-size: 20px;
        width: 500px;
    }

    .third {
        font-size: 20px;
        width: 500px;
    }

    .fourth {
        font-size: 20px;
        width: 500px;
    }

    .rotating-container {
        top: 30px;
    }

    .dynamic-ellipse {
        margin: 0 10px;
    }

    .content {
        margin: 10px;
    }

    .left-paragraph {
        margin-top: -80px;
        width: 160%;
        font-size: 10px;
    }

    .right-paragraph {
        margin-top: 100px;
        width: 160%;
        font-size: 10px;
    }

    #next-section4 .enter-container {
        width: 85px;
        height: 85px;
        border-width: 5px;
        right: 2%;
    }

    .white-page {
        padding: 10px;
    }

    .next-section-button {
        bottom: 15px;
        left: 15px;
        width: 40px;
        height: 40px;
        border: 3px solid pink;
    }

    .next-section-button:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid pink;
        margin-left: 23.5px;
    }
    .ellipse1 {
        width: 10px;
        height: 20px;
    }

    .ellipse2 {
        width: 30px;
        height: 40px;
    }

    .ellipse3 {
        width: 40px;
        height: 60px;
    }

    .ellipse4 {
        width: 60px;
        height: 80px;
    }

    .ellipse5 {
        width: 80px;
        height: 110px;
    }
   .rotating-container {
    margin-top: 75px;
   }
   @font-face {
    font-family: "H2";
    src: local("Heavitas.ttf"), url("Heavitas.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "H1";
    src: local("Birds of Paradise ∏ PERSONAL USE ONLY.ttf"), url("Birds of Paradise ∏ PERSONAL USE ONLY.ttf") format("opentype") tech(color-COLRv1);
}
}
