body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-slide-out {
    animation: slideOut 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    animation-play-state: running;
  }
  
  .no-animation .container {
    animation-play-state: paused;
}

body.green-background {
    background-color: rgb(128, 177, 22) !important;
    transition: background-color 0.8s ease-out !important;
}

  @keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


h1, h2 {
    font-family: "H2", sans-serif;
    color: green;
    font-size: 50px;
    margin: 0; /* Remove default margin */
}

h1 div, h2 div {
    display: block; /* Each word on a new line */
}

.ellipse {
    position: absolute;
    width: 600px;
    height: 300px;
    border-radius: 50%;
    opacity: 0;
    animation: unfold 2s linear infinite, move 10s linear infinite, rotate 5s linear infinite;
}

/* Randomize start positions and add more variations */
.ellipse:nth-child(2) {
    animation-delay: 1s;
    z-index: 1;
    border: 3px solid green; /* Default solid light green */
}

.ellipse:nth-child(5) {
    animation-delay: 2s;
    z-index: 2;
    border: 3px dashed green; /* Green dashed */
}

.ellipse:nth-child(8) {
    animation-delay: 3s;
    z-index: 3;
    border: 3px dotted pink; /* Pink dotted */
}

.ellipse:nth-child(13) {
    animation-delay: 4s;
    z-index: 4;
    border: 3px solid rgb(128, 177, 22); /* Default solid light green */
}

.ellipse:nth-child(16) {
    animation-delay: 5s;
    z-index: 5;
    border: 3px dashed pink; /* Green dashed */
}

.ellipse:nth-child(19) {
    animation-delay: 6s;
    z-index: 6;
    border: 3px dotted pink; /* Pink dotted */
}

.ellipse:nth-child(23) {
    animation-delay: 7s;
    z-index: 7;
    border: 3px solid green; /* Default solid light green */
}

.ellipse:nth-child(26) {
    animation-delay: 8s;
    z-index: 8;
    border: 3px dashed green; /* Green dashed */
}

.ellipse:nth-child(29) {
    animation-delay: 9s;
    z-index: 9;
    border: 3px dotted pink; /* Pink dotted */
}

.ellipse:nth-child(32) {
    animation-delay: 10s;
    z-index: 10;
    border: 3px dotted pink; /* Additional Pink dotted */
}

/* Rotation animation */
@keyframes unfold {
    0%, 100% {
        transform: scale(1);
        opacity: 0.8;
    }
    25% {
        transform: scale(1.5);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    75% {
        transform: scale(1.3);
        opacity: 0.7;
    }
}

@keyframes move {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(30px, 30px);
    }
    50% {
        transform: translate(-20px, -40px);
    }
    75% {
        transform: translate(40px, -20px);
    }
}

@keyframes rotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
}

@font-face {
    font-family: "H2";
    src: local("Heavitas.ttf"), url("Heavitas.ttf") format("opentype") tech(color-COLRv1);
}

@font-face {
    font-family: "H1";
    src: local("Birds of Paradise ∏ PERSONAL USE ONLY.ttf"), url("Birds of Paradise ∏ PERSONAL USE ONLY.ttf") format("opentype") tech(color-COLRv1);
}

.trace {
    font-family: "H1", cursive;
    color: rgb(128, 177, 22);
}

.text-container {
    display: flex;
    align-items: center;
    position: relative;
}
.text-container h1{
    margin-left: 30px;
    text-align: center;
    position: relative;
}
.text-container h2{
    margin-right: 30px;
    text-align: center;
    position: relative;
}
.text-container h1, .text-container h2 {
    font-family: "H2", sans-serif;
    color: green;
    font-size: 70px;
}

.text-container h1 div, .text-container h2 div {
    display: block; /* Each word on a new line */
}

.next-section-button {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border: 7px solid pink;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
  }
  .next-section-button:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid pink;
    margin-left: 47px;
  }
  
  html {
    scroll-behavior: smooth;
  }


.title {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px; 
}
  .second {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
  .third {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
  .fourth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
  }
 .fifth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
 .sixth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
 .seventh {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
 .eighth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
 .ninth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
 .tenth {
    color: pink;
    font-size: 30px;
    text-align: center;
    font-family: "Heavitas", sans-serif;
    position: absolute;
    width: 1000px;
 }
  .white-page {
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding as needed */
  }
  .yes {
    font-family: "H1", cursive;
    color: green;
    font-size: 50px;
  }
  #next-section10 {
    position: relative;
  }
  
  #next-section10 .tenth {
    position: relative;
  }
  
  h5 {
    font-family: "H1", cursive;
    color: rgb(128, 177, 22);
    font-size: 300px;
    text-align: center;
}
  .enter-container {
    position: absolute;
    top: 2550%;
    right: 5%;
    background-color: white;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 7px solid rgb(10, 123, 2);
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.enter-container .arrow-container {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid rgb(10, 123, 2);
    transform: rotate(-90deg);
}
  #next-section10:hover .enter-container {
    border-color: #ffc0cb; /* Pink border color on hover */
  }
  
  #next-section10 .enter-container .arrow-container {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 25px solid rgb(10, 123, 2);
    transform: rotate(-90deg); /* Rotate the arrow to point right */
  }
  
  #next-section10:hover .enter-container .arrow-container {
    border-top-color: pink; /* Change arrow color on hover */
  }
  @media only screen and (max-width: 600px) {
    h1, h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .text-container {
        flex-direction: row; /* Display text side by side on smaller screens */
        justify-content: space-around; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }

    .ellipse {
        width: 150px; /* Adjust ellipse size for smaller screens */
        height: 75px;
        animation: unfold-sm 2s linear infinite, move-sm 10s linear infinite, rotate-sm 5s linear infinite;
    }

    /* Additional keyframes for smaller screens */
    @keyframes unfold-sm {
        0%, 100% {
            transform: scale(0.5);
            opacity: 0.8;
        }
        25% {
            transform: scale(0.75);
            opacity: 0.6;
        }
        50% {
            transform: scale(0.6);
            opacity: 0.8;
        }
        75% {
            transform: scale(0.7);
            opacity: 0.7;
        }
    }

    @keyframes move-sm {
        0%, 100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(15px, 15px);
        }
        50% {
            transform: translate(-10px, -20px);
        }
        75% {
            transform: translate(20px, -10px);
        }
    }
}
